<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controle_Veiculos2.Properties.Settings.SistemaConnectionString"
            connectionString="Data Source=|DataDirectory|\Sistema.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Controle_Veiculos2.Properties.Settings.SistemaBuggyConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SistemaBuggy.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>